body {
  background-color: white;
  color: #0d1137;
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  line-height: 1;
}
img {
  height: 225px;
  width: 225px;
}
h1{
  font-family: Montserrat-black;
  font-size: 4rem;
  font-weight: bolder;
  display: inline-block;
}
h2{
  text-align: center;
  color: white;
  font-family: Montserrat-black;
  font-size: 1.5rem;
font-weight: bold;
}
h3 {
  text-align: center;
  color: #e52165;
  font-family: Montserrat-black;
  font-size: 2rem;
font-weight: bold;
}
h4{
  text-align: center;
  color: white;
  font-family: Montserrat-black;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}
h5{
  text-align: center;
  font-family: Montserrat-black;
  font-size: 1.3rem;
  font-weight: bold;
}
h6{
  text-align: center;
  color: #e52165;
  font-family: Montserrat-black;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}
p {
  display: inline-block;
  font-family: Ubuntu;
  font-stretch: extra-condensed;
}
div {
  display: inline-block;
}
hr{
  width: 5%;
  margin: 20px auto;
  size: 50%
  border: 30%;
  border-top:1px dotted #e52165;
  border-radius: 0;
  border-width: medium;
  border-spacing: 30px
}

/* navigation section */
#navbarTogglerDemo01 {
  color: white;
  text-align: left;
  margin-left: 5%;
}
.navigation {
  background-color: #e52165;
  color: white;
  font-weight: bold;
}
.navbar-brand, .navbar-brand:hover {
  color: white;
  margin-left: 5%;
}
.nav-link{
  margin-right: 5%;
}
.nav-list {
  margin-right: 5%;
}
.navbar-toggler {
  margin-right: 5%;

}

/* header section */
.header-container{
  background-color: #e52165;
  color: white;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0

}
 .head-content {
   display: inline-block;
   text-align: center;
   color: white;
   width: auto;
 }
.download-btn{
  margin-top: 2rem;
}

.phone {
  height: 300px;
  width: 30%;
  width: auto;
  position: relative;
}

/* features section */
.features{
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  padding: 0 3rem 0 3rem;
}
.feature-icons {
  color: #e52165;
  padding: 5px 5px;
  margin: 5px 5px;
}


/* testimonial section */

.testimonial{
  color: white;
  margin: 40px 0;
  width: auto;
  text-align: center;
}
.testimonial-item {
  text-align: center;
  padding: 0 3rem 0 3rem;
}
.testimonial-image{
  height: 180px;
  width: 180px;
  border-radius: 100%;
  margin: 20px 0 0;
}

/* pricing section */
.Pricing{
  text-align: center;
  width: 100%;
}
.carousel{
  background-color: #e52165;
  width: 100%;
}
.wedding{
  background-color: #e52165;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
}
.price-card {
  background-color: #e52165;
  color: white;
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 5%;
}
.price-card2 {
  background-color: white;
  color: #e52165;
  margin: 2rem 0 2rem 0;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 5%;
}
.card-title, .card-text {
  padding-bottom: 1rem;
}
.btn-lg{
  width: 50%;
}
.card {
  display: inline-block;
  line-height: 0;
  width: auto;
}
.card-img-top{
  border-radius: 100%;
  margin: ;
  width: 15rem;
  height: 15rem;
}

/* buttons section */
.btn{
background-color: #e52165;
color: #fff;
width: 140px;
}
.btn-light:hover {
  background-color: white;
  color: #e52165;
}

/* contact us section */
.contact-us-text {
  padding-bottom: 2rem;
}
.cake {
  width: 225px;
  height: 246px;
  margin-right: 1rem;
  border-radius: 10%;
}
.message{
  text-align: left;
  display: inline-block;
  width: 225px;
  position: relative;
  vertical-align: bottom;
  margin-right: 1rem;
}
.contact-us{
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* .btn-send{
  text-align: center;
} */
.footer{
  background-color: #e52165;
  color: white;
  width: 100%;
}
.footer-icons {
  padding: 5px 5px;
  margin: 5px 5px;
}
.footer-icons:hover {
  color: pink;
}
.email {
  color: white;
}
